*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 50%;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
}

main > section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

main > input {
  display: none;
}

main > label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

main > label:before {
  font-weight: normal;
  margin-right: 10px;
}

main > label:hover {
  color: #888;
  cursor: pointer;
}

main > input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
